html {
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
}

body {
    margin: 0;
    background-color: #ffffff;
}

h2,
h3,
h4 {
    color: #000000;
    text-align: left;
}

section,
form {
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 2rem auto;
    max-width: 38rem;
}

section {
    margin-bottom: 1.5rem;
    border-left: 6px solid #023f78;
    /* Adds a colorful accent */
}

h2 {
    font-size: 1.7rem;
    margin: 0.5rem 0;
    text-align: left;
    color: #023f78;
}

h3 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    font-weight: 600;
}

h4 {
    font-size: 1.1rem;
    margin: 0.25rem 0;
    font-weight: 400;
}

.form-control {
    margin: 1rem 0;
}

input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #fefefe;
    color: #3a3a3a;
}

input:focus {
    outline: none;
    border-color: #023f78;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000000;
}

button {
    display: inline-block;
    background-color: #023f78;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

button:hover,
button:active {
    background-color: #023f78;
}

.display {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 1rem;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    margin-top: 0.5rem;
}

@media (max-width: 600px) {

    section,
    form {
        max-width: 90%;
        margin: 1rem auto;
    }
}